In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
#a little trick to create a quick Data Fame using a dictionary
d = {'A':[1,2, np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [3]:
df = pd.DataFrame(d)
df
#if there are any missing values, Pandas automatically fills these cells with Null/NaN

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [4]:
#we can drop NaN values
#the dropna method will drop the entire row if it contains one or more Null values
df.dropna()

     A    B  C
0  1.0  5.0  1

In [5]:
#if you'd like to drop columns f they contain one or more Null values, add the axis argument
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [6]:
#we can also define a treshold in order to not get dropped
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [7]:
#Let's replace (or fill in) the missing values
df.fillna(value='String Value for example')

                          A                         B  C
0                       1.0                       5.0  1
1                       2.0  String Value for example  2
2  String Value for example  String Value for example  3

In [8]:
#on column A, let's use the mean (the average) value of all values in that column
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [9]:
#to make the changes permanent, add the inplace=True argument
df['A'].fillna(value=df['A'].mean(), inplace=True)